# TRADE ANALYSIS (Data Exploration with Python using Pandas & Numpy Libraries)
---

## Project Contents:

1. Project Information
2. Description of Data
3. Data Sampling
4. Project Objectives
5. Data Analysis
6. Observations / Findings
7. Managerial Insights / Recommendations
---

## 1. Project Information
* Title: Data Exploration with Python using Pandas & Numpy Libraries
* Students : **Shefali Dhingra (055043) , Mohit Agarwal (055024)**
* Group Number: 25

---

## 2. Description of Data

- Data Source: [Dataset link](https://www.kaggle.com/datasets/chakilamvishwas/imports-exports-15000)

### Data Columns Description:

1. Transaction_ID: Unique identifier for each trade transaction.
2. Country: Country of origin or destination for the trade.
3. Product: Product being traded.
4. Import_Export: Indicates whether the transaction is an import or export.
5. Quantity: Amount of the product traded.
6. Value: Monetary value of the product in USD.
7. Date: Date of the transaction.
8. Category: Category of the product (e.g., Electronics, Clothing, Machinery).
9. Port: Port of entry or departure.
10. Customs_Code: Customs or HS code for product classification.
11. Weight: Weight of the product in kilograms.
12. Shipping_Method: Method used for shipping (e.g., Air, Sea, Land).
13. Supplier: Name of the supplier or manufacturer.
14. Customer: Name of the customer or recipient.
15. Invoice_Number: Unique invoice number for the transaction.
16. Payment_Terms: Terms of payment (e.g., Net 30, Net 60, Cash on Delivery).

Data Type: Since the dataset contains multiple entities (countries) and records data over time, this is an example of **Panel Data** (also called longitudinal data)

In [78]:
# Import Relevant Python Libraries

import pandas as pd
import numpy as np
import scipy.stats as stats

In [79]:
# Load the Test Data

my_df = pd.read_csv("Imports_Exports_Dataset.csv",index_col="Transaction_ID")

In [80]:
# Data Dimensions
print("The dimensions of the data is: ",my_df.shape)

The dimensions of the data is:  (15000, 15)

In [81]:
# Data Variable Type
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15000 entries, e3e70682-c209-4cac-a29f-6fbed82c07cd to 5cc039d0-a052-41fd-bfbb-c9f60c4565ac
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          15000 non-null  object
 1   Product          15000 non-null  object
 2   Import_Export    15000 non-null  object
 3   Quantity         15000 non-null  int64
 4   Value            15000 non-null  float64
 5   Date             15000 non-null  object
 6   Category         15000 non-null  object
 7   Port             15000 non-null  object
 8   Customs_Code     15000 non-null  int64
 9   Weight           15000 non-null  float64
 10  Shipping_Method  15000 non-null  object
 11  Supplier         15000 non-null  object
 12  Customer         15000 non-null  object
 13  Invoice_Number   15000 non-null  int64
 14  Payment_Terms    15000 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.8+ MB

### Data Variable Type
As observed, the dataset contains:
1. **All** non-null Variables
2. Numbers:
    1. Interger Variables: **3**  (*Quantity, Customs_Code, Invoice_Number*)
    2. Float (Decimal) Variables: **2**  (*Value, Weight*)
3. Text: **9**  (*Country, Product, Import_Export, Category, Port, Shipping_Method, Supplier, Customer, Payment_Terms*)
4. DateTime: **1** (*Date*)

## 3. Data Sampling

In [82]:
# A Unique Sample of 2001 Records 
my_sample = pd.DataFrame.sample(my_df, n=2001, random_state=25 ,ignore_index=False)

In [83]:
# Displaying the Dimensions of Sample Data.
my_sample.shape

(2001, 15)

In [84]:
my_sample.head(n=3)

,Country,Product,Import_Export,Quantity,Value,Date,Category,Port,Customs_Code,Weight,Shipping_Method,Supplier,Customer,Invoice_Number,Payment_Terms
Transaction_ID,,,,,,,,,,,,,,,
27642695-29f2-4864-8650-232095017a24,United Kingdom,society,Export,7167,1312.05,12-03-2022,Toys,Moodyfurt,586678,1877.87,Land,Anderson-Williams,Earl Green,39542245,Net 30
ab9190ba-7a15-4be5-a25e-2cd73327f319,Belarus,thus,Import,7856,9404.19,15-06-2022,Electronics,West Michelle,839195,1758.71,Sea,"Hansen, Burns and Campos",Jessica Duncan,95480876,Cash on Delivery
db29c218-2d69-4b77-8f40-b3880cc6985b,Azerbaijan,let,Export,18,7522.87,02-12-2021,Toys,Port Richardside,916350,4232.99,Air,Tucker-Townsend,Eric Ramsey,84265114,Prepaid

### Data Variable Category

In [85]:
# Columns in the dataset
variables=list(my_sample.columns)
print("The Variables are:", variables)

The Variables are: ['Country', 'Product', 'Import_Export', 'Quantity', 'Value', 'Date', 'Category', 'Port', 'Customs_Code', 'Weight', 'Shipping_Method', 'Supplier', 'Customer', 'Invoice_Number', 'Payment_Terms']

In [94]:
# Bifurcating the Variables into Index, Categorical (Nominal, Ordinal) and Non-Categorical Variables

Index_variables=['Transaction_ID']
Nominal_Variables=[ 'Country','Product','Import_Export','Category','Port','Shipping_Method','Supplier','Customer']
Ordinal_variables=['Payment_Terms']
Categorical_variables = Nominal_Variables + Ordinal_variables
Non_Categorical_Variables=['Quantity','Value','Customs_Code','Weight','Invoice_Number']

---

## 4. Project Objectives: Trade Analysis

The objective of this project is to analyze **international trade patterns by identifying key trends in imports and exports across countries, products, and time periods.**
The study aims to uncover **trade flow dynamics, assess the most frequently traded goods, and highlight seasonal or regional variations, providing actionable insights into global trade behaviors.**

---

## 5. Exploratory Data Analysis

### 5.1. Descriptive Analysis

Measures of Central Tendency {Minimum | Maximum | Mean | Median | Mode | Percentile}

Measures of Dispersion {Range | Standard Deviation | Skewness | Kurtosis | Correlation}

Composite Measure {Coefficient of Variation | Confidence Interval}

In [95]:
def summarize_selected_numerical(my_sample, variables):
    summary = {}
    
    for col in variables:
        if col in my_sample.columns:  # Check if the column exists in the DataFrame
            summary[col] = {
                'Minimum': my_sample[col].min(),
                'Maximum': my_sample[col].max(),
                'Mean': my_sample[col].mean(),
                'Median': my_sample[col].median(),
                'Mode': my_sample[col].mode()[0] if not my_sample[col].mode().empty else np.nan,
                '25th Percentile': my_sample[col].quantile(0.25),
                '50th Percentile (Median)': my_sample[col].median(),
                '75th Percentile': my_sample[col].quantile(0.75),
                'Range': my_sample[col].max() - my_sample[col].min(),
                'Standard Deviation': my_sample[col].std(),
                'Skewness': my_sample[col].skew(),
                'Kurtosis': my_sample[col].kurtosis(),
                'Correlation': my_sample.corr()[col].drop(col).to_dict()  # Correlation with other variables
            }

            # Coefficient of Variation
            summary[col]['Coefficient of Variation'] = (my_sample[col].std() / my_sample[col].mean()) * 100 if my_sample[col].mean() != 0 else np.nan

            # Confidence Interval (95%)
            ci = stats.t.interval(0.95, len(my_sample[col])-1, loc=my_sample[col].mean(), scale=stats.sem(my_sample[col]))
            summary[col]['95% Confidence Interval'] = ci
            
    return summary

# Example usage
summary_stats = summarize_selected_numerical(my_sample, Non_Categorical_Variables)

# Print the summary for each variable
for var, stats in summary_stats.items():
    print(f"Summary for {var}:")
    for stat_name, stat_value in stats.items():
        print(f"{stat_name}: {stat_value}")
    print()

/var/folders/zj/gsj0r51j0x34_vhj3zsb0bgr0000gn/T/ipykernel_40585/830163108.py:19: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  'Correlation': my_sample.corr()[col].drop(col).to_dict()  # Correlation with other variables

AttributeError: 'dict' object has no attribute 't'

In [96]:
non_categorical_variables = ['Quantity', 'Value', 'Date', 'Customs Code', 'Weight', 'Invoice_Number']

# Select only the relevant non-categorical variables
correlation_data = my_sample[non_categorical_variables]

# Generate the correlation matrix
correlation_matrix = correlation_data.corr()

# Print the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)

KeyError: "['Customs Code'] not in index"

#### 5.1.2. Categorical (Based on Imports_Exports)

In [43]:
#Count | Frequency | Minimum | Maximum | Mode | Rank | Correlation

In [45]:
#Count of Imports and Exports
counts = my_sample['Import_Export'].value_counts()
counts

Import    1013
Export     988
Name: Import_Export, dtype: int64

In [52]:
# Frequency of Imports and Exports
frequency = counts / counts.sum()
round(frequency,2)

Import    0.51
Export    0.49
Name: Import_Export, dtype: float64

---> Comparable frequencies represent that data is split almost equal, thus minimising the need for data sampling

**Splitting Data into Imports and Exports**

In [62]:
Import_export_grouped = my_sample.groupby('Import_Export')
import_sample = Import_export_grouped.get_group('Import')
export_sample = Import_export_grouped.get_group('Export')

**Assumption**:
- The Value for Imports = The CP for purchase of goods
- The Value for Exports = The SP of goods exported to different Countries

In [64]:
import_sample.shape, export_sample.shape

((1013, 15), (988, 15))

In [69]:
#Country with Max Exports
print("Maximum Exports: ",export_sample['Country'].value_counts().idxmax())

Maximum Exports:  Congo

In [70]:
#Country with Min Exports
print("Minimum Exports: ",export_sample['Country'].value_counts().idxmin())

Minimum Exports:  Iran

In [71]:
#Country with Max Imports
print("Maximum Imports: ",import_sample['Country'].value_counts().idxmax())

Maximum Imports:  Chad

In [72]:
#Country with Min Imports
print("Minimum Imports: ",import_sample['Country'].value_counts().idxmin())

Minimum Imports:  Bouvet Island (Bouvetoya)

In [75]:
counts.rank(ascending=False)

Import    1.0
Export    2.0
Name: Import_Export, dtype: float64

The no. of Imports in the sample is more than no. of Exports, but sice their frquencies are comparable, they dont have much difference between no. of values

### 1. Trade Volume Analysis

In [33]:
import_export_comparison = my_sample.groupby('Import_Export')[['Value']].sum()
import_export_comparison

                    Value
Import_Export
Export         4930154.32
Import         5190520.14

In [35]:
#Top 10 Countries with Goods Sold at Maximum Value (Maximum Export Sales Profits)

trade_volume_country = export_sample.groupby('Country')[['Value','Quantity']].sum().sort_values(by='Value', ascending=False)
trade_volume_country.head(n=10)

                          Value  Quantity
Country
Congo                  68241.90     80626
India                  67674.91     58344
Maldives               60956.81     47351
Czech Republic         48152.10     40243
Japan                  46174.40     49524
Palestinian Territory  45171.61     26290
Korea                  44717.32     35786
Russian Federation     44655.91     37109
Latvia                 44170.07     39148
Taiwan                 43787.23     38994

In [36]:
# Top 10 Products Sold (Exported)

Max_exported_prod = export_sample.groupby('Product')[['Quantity', 'Value']].sum().sort_values(by='Quantity', ascending=False)
Max_exported_prod.head(n=10)

                Quantity     Value
Product
onto               33534  31115.68
now                27952  14980.57
Mr                 27638  30068.69
beyond             26878  16959.45
administration     26273  31302.21
course             25873  16601.72
organization       25827  11774.46
bank               24516  29501.23
guess              24115  17845.80
street             24094  18830.97

In [38]:
# Top 10 Products Purchased (Imported)

Max_imported_prod = import_sample.groupby('Product')[['Quantity', 'Value']].sum().sort_values(by='Quantity', ascending=False)
Max_imported_prod.head(n=10)

           Quantity     Value
Product
family        29959  20276.20
without       27487  10518.13
explain       27430  20546.09
both          27122  15835.49
once          27083  18529.74
she           26764  27372.70
financial     25584  16113.37
story         25580  27279.22
mouth         25211  20995.23
crime         25072  20236.31

In [37]:
# Top 10 Products Produced

Max_imported_prod = import_sample.groupby('Product')[['Quantity', 'Value']].sum().sort_values(by='Quantity', ascending=False)
Max_imported_prod.head(n=10)

           Quantity     Value
Product
family        29959  20276.20
without       27487  10518.13
explain       27430  20546.09
both          27122  15835.49
once          27083  18529.74
she           26764  27372.70
financial     25584  16113.37
story         25580  27279.22
mouth         25211  20995.23
crime         25072  20236.31

### 2. Temporal Trends (Yearly/Monthly Trends)

In [64]:
# Yearly Exports Volume

#errors = 'coerce' helps handle invalid date errors by replacing the value with NaT (Not a Time)
export_sample = export_sample.copy()
export_sample['Date'] = pd.to_datetime(export_sample['Date'], dayfirst=True, errors='coerce')
export_sample.loc[:, 'Year'] = export_sample['Date'].dt.year
yearly_trends = export_sample.groupby('Year')[['Quantity', 'Value']].sum()
yearly_trends

      Quantity       Value
Year
2019    259726   274186.93
2020   1055812  1022481.92
2021    994907  1075873.39
2022    976886   992998.54
2023   1069667  1000670.51
2024    618516   563943.03

In [65]:
# Yearly Imports Volume

#errors = 'coerce' helps handle invalid date errors by replacing the value with NaT (Not a Time)
import_sample = import_sample.copy()
import_sample['Date'] = pd.to_datetime(import_sample['Date'], dayfirst=True, errors='coerce')
import_sample.loc[:, 'Year'] = import_sample['Date'].dt.year
yearly_trends_imports = import_sample.groupby('Year')[['Quantity', 'Value']].sum()
yearly_trends_imports

      Quantity       Value
Year
2019    300080   306912.19
2020    998288  1020054.22
2021   1067542  1050740.47
2022   1154051  1140692.18
2023    917375   985005.41
2024    704712   687115.67

In [44]:
# Monthly Trade Volume

my_sample['Month'] = my_sample['Date'].dt.to_period('M')
monthly_trends = my_sample.groupby('Month')[['Quantity', 'Value']].sum()
monthly_trends

         Quantity      Value
Month
2019-09    136440  122634.62
2019-10    117659  114943.42
2019-11    136893  159237.45
2019-12    168814  184283.63
2020-01    172685  188745.46
...           ...        ...
2024-05    203192  178762.27
2024-06    123382  114587.00
2024-07    160421  175986.44
2024-08    172226  161824.32
2024-09     37216   31935.94

[61 rows x 2 columns]

### 3. Geographical Trade Patterns

In [ ]:
# Top Importing/Exporting Countries
top_countries = my_sample.groupby('Country')[['Quantity', 'Value']].sum().sort_values(by='Value', ascending=False).head(10)
top_countries

### 4. Product and Category-Level Analysis

In [ ]:
# Top-Traded Products
top_products = my_sample.groupby('Product')[['Quantity', 'Value']].sum().sort_values(by='Value', ascending=False).head(10)
top_products

### 5. Supplier and Customer Behavior

In [ ]:
# Top Suppliers by Trade Value
top_suppliers = my_sample.groupby('Supplier')[['Quantity', 'Value']].sum().sort_values(by='Value', ascending=False).head(10)
top_suppliers

In [ ]:
# Top Customers by Trade Value
top_customers = my_sample.groupby('Customer')[['Quantity', 'Value']].sum().sort_values(by='Value', ascending=False).head(10)
top_customers

### 6. Trade Performance (Evaluated based on Country)

In [ ]:
trade_balance = my_sample.groupby(['Country', 'Import_Export'])[['Quantity', 'Value']].sum().unstack().fillna(0)
trade_balance.columns = ['Import_Quantity', 'Export_Quantity', 'Import_Value', 'Export_Value']
trade_balance['Trade_Balance'] = trade_balance['Export_Value'] - trade_balance['Import_Value']
trade_balance.head(n=5)

*A positive trade balance represents that the particular country exports more than it imports, and vice-a-versa for Countries with negative Trade Balance*

### 7. Cost and Revenue Analysis

In [ ]:
# Average Trade Value per Transaction
average_value_per_transaction = my_sample['Value'].mean()
print(f"Average Trade Value per Transaction: {average_value_per_transaction}")